.status-paper {
  margin-top: 20px;
  transition: all 0.3s ease;
  width: 95%; /* Increase the width of the container */
  max-width: 1200px; /* Add a max-width for responsiveness */
}

.status-paper:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.table {
  margin-top: 10px;
  border-spacing: 20px 0; /* Increase horizontal spacing between columns */
}

th,
td {
  padding: 12px 16px;
  font-size: 14px;
}
