/* Reduce the size of navigation arrows */
.mantine-DatePicker-calendar .mantine-DatePicker-navigation {
    font-size: 12px !important; /* Force smaller font size */
  }
  
  .mantine-DatePicker-navigation .mantine-DatePicker-navigationButton {
    width: 20px !important;  /* Force width */
    height: 20px !important; /* Force height */
  }
  
  .mantine-DatePicker-navigation .mantine-DatePicker-navigationButton svg {
    width: 12px !important; /* Force size of the SVG icon */
    height: 12px !important;
  }
  